project:
  type: website

website:
  title: "test_quarto_to_ojs2"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - page_arquero_ojs.qmd
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

